#root {
	background-color: #272744;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
	font-family: 'Pixelify Sans', sans-serif;
	color: #fbf5ef;
	font-size: 20px;
}

button {
	background-color: #fbf5ef;
	color: #272744;
	font-family: 'Pixelify Sans', sans-serif;
	min-height: 100px;
	min-width: 200px;
	font-size: 30px;
}

.bar {
	background-color: #8b6d9c;
  color: #F5F7F8;
  padding: 2rem;
}
